@tailwind base;
@tailwind components;
@tailwind utilities;

.hscroll::-webkit-scrollbar { display: none; }

.hscroll { 
  scrollbar-width: none;    
  -ms-overflow-style: none;  
}

html, body, #root { height: 100%; }
body { overflow-x: hidden; }         
.hscroll { -webkit-overflow-scrolling: touch; }